body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    /* place-items: center; */
}

.main-container{
    background-color:#262525;
    width: 60%;
    height: 700px;
    margin-left: 20%;
    margin-top: 5%;
    padding-left: 10%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.container{
    /* border: 1px solid red; */
    /* background-color: rgb(196, 186, 186); */
    width: 50vw;
    height:auto;
    display: flex;
    /* align-items: flex-start;  */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    gap: 20px;
    position: relative;
    

    .item{
        width: 240px;
        height: 150px;
        background-color: #1D1D1D;
        border-radius: 20px;
        

    }
    
}


.middle{

    background-color:#1D1D1D;
    width: 40vw;
    height:auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 20px;
    

    .item{
        width: 200px;
        height: 200px;
        background-color: #1D1D1D;
        flex-grow: 1;
        border-radius: 20px;
        
        
        
        

    }


}

.container .aside-top{
    background-color: #1d1d1d00;
    /* CODE HERE: */
    /* flex-grow: 1; */
    width: 200px;
    position: relative;

    &:hover{
        background-color: #1d1d1d00;
    }


    .image{
        /* position: absolute; */
        left: 0;
        top: 0;
        transform: translate(0px, -5%);
        /* background-size: 100%; */
        
        img:nth-child(1){
            width: 200px;
            transform: translate(3%,10%);
        }
        img:nth-child(2){
            width: 200px;
            transform: translate(-5%, -90%);
        }
        img:nth-child(3){
            position: absolute;
            top: 0;
            width: 200px;
            transform: translate(-10%, 15%);
        }

}
    
}



/* .aside{
    background-color:#c40808;
    width: 10vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    order: 1;

    .item{
        width: 200px;
        height: 200px;
        background-color: #1D1D1D;
        border-radius: 20px; 
        
    }
} */


.bottom{

    background-color: #1d1d1d0e;;
    width: 53vw;
    height:auto;
    display: flex;
    margin-top: 20px;
    gap: 20px;
    /* justify-content: space-evenly; */
    
    

    .item{
        width: 400px;
        height: 150px;
        background-color: #1D1D1D;
        color: white;
        /* border: 1px solid red; */
        border-radius: 20px;

        
        
        

    }


}

.bottom .aside-bottom{
    background-color: #1D1D1D;
    /* CODE HERE: */
    width: 250px;
    /* height: 300px; */
    flex-grow: 1;
    /* justify-content:flex-start; */
    
}

.nav{     
    position: absolute;
    left: 0; 
    top: 0;
    transform: translate(-120px, -95px);
    /* border: 1px solid red; */
    /* width: fit-content; */


    /* &:hover{
        box-shadow: 13px 1px 20px rgba(255, 255, 255, 0.452) inset;
        border-radius: 20px;
    } */

    nav{
        /* background-color: #5c191900; */

    }


    ul{
        li{
            
            list-style: none;
            margin-top: 50px;
            color: white;
            
            span{
                padding-left: 50px;
                
            }
            a{
                text-decoration: none;
                color: white;

                &:hover{
                    color: rgb(255, 0, 0);
                }
            }
            
        }
        
    }
    
}

img:hover{
    box-shadow: 3px 1px 13px rgba(255, 255, 255, 0.336);
    scale: calc(1.2);
}

.item{
    &:hover{
    background-color: black;
    }
    &:active{
    background-color: rgb(255, 255, 255);
    }
}
